.modal {
  display: none;
  background-color: rgba(78, 73, 73, 0.512);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 700px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 12px;
}
.close {
  cursor: pointer;
  position: absolute;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 15px;
  right: 20px;
  border-radius: 12px;
}
.close:active {
  background-color: darkgray;
  transform: scale(0.95);
}
.content-modal-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.modal-name {
  font-size: 60px;
  height: 80px;
}
.modal-body {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 90%;
  height: auto;
}
.modal-content-img {
  width: 49%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-img {
  width: 80%;
  height: 80%;
}
.content-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  width: 49%;
  height: 95%;
  border: 5px solid;
  border-color: gray;
  border-radius: 12px;
}
.description {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100px;
}
.m-content {
  display: flex;
  justify-content: center;
  margin: 8px;
}
h4 {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.modal-btn {
  background-color: rgba(255, 255, 255, 0.827);
  color: black;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  bottom: 17px;
  right: 22%;
  padding: 10px;
  border: 5px solid;
  border-color: rgb(251, 20, 20);
  border-radius: 12px;
}
.modal-btn:active {
  background-color: darkgray;
  transform: scale(0.95);
}
